
#mobileAuthNavBar[data-v-064cdad1] {
  min-height: 125px;
  justify-content: space-between;
}

/* Notification container */
.notification-container[data-v-064cdad1] {
  position: relative;
  display: inline-block;
}

/* Notification icon */
.notification-icon[data-v-064cdad1] {
  position: relative;
  font-size: 60px;
  cursor: pointer;
}

/* Notification counter */
.notification-counter[data-v-064cdad1] {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ec6415;
  color: #fff;
  padding: 2px 4px;
  border-radius: 50%;
  font-size: 8px;
}

/* Notification panel */
.notification-panel[data-v-064cdad1] {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
}

/* Panel header */
.panel-header[data-v-064cdad1] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.panel-header h4[data-v-064cdad1] {
  margin: 0;
}
.close-panel[data-v-064cdad1] {
  font-size: 18px;
  cursor: pointer;
}

/* Notification list */
.notification-list[data-v-064cdad1] {
  list-style: none;
  margin: 0;
  padding: 0;
}
.notification-list li[data-v-064cdad1] {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.notification-list li[data-v-064cdad1]:last-child {
  border-bottom: none;
}
.notification[data-v-064cdad1] {
  display: flex;
  align-items: center;
}
.notification-icon[data-v-064cdad1] {
  font-size: 18px;
  margin-right: 10px;
}
.notification-content[data-v-064cdad1] {
  font-size: 14px;
}
.notification-content p[data-v-064cdad1] {
  margin-bottom: 0;
}
.fas[data-v-064cdad1] {
  font-size: 34px;
}
notification-content small[data-v-064cdad1] {
  color: #666;
}
.notification-panel.show[data-v-064cdad1] {
  display: block;
}
.toast[data-v-064cdad1] {
  visibility: hidden;
  /* Hidden by default */
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  opacity: 0;
}
.toast.show[data-v-064cdad1] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.logoC[data-v-e94c677a] {
  width:50%
}

.next-steps .fa-link[data-v-d5ec1a19] {
    margin-right: 5px;
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
  background: #ffffff
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #d73a49
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #6f42c1
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #005cc5
}
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #032f62
}
.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #e36209
}
.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #6a737d
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #22863a
}
.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #24292e
}
.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold
}
.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #735c0f
}
.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic
}
.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold
}
.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4
}
.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0
}
.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
  
}html, body {
    min-width: 0 !important;
}

#zmmtg-root {
    display: none;
    min-width: 0 !important;
}

main {
    width: 70%;
    margin: auto;
    text-align: center;
}

main button {
    margin-top: 20px;
    background-color: #2D8CFF;
    color: #ffffff;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

main button:hover {
    background-color: #2681F2;
}